{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ user.profile.username }} - Profil utilisateur{% endblock title %}

{% block head %}
{{ profile_form.media }}
{% endblock head %}

{% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    Les modifications ont bien été enregistrées.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="row">
    {% include 'account/nav.html' %}
    <div class="col">
        <h2>Mon profil</h2>
        {% crispy profile_form %}
    </div>
</div>
{% endblock content %}
